[submodule "OCA/l10n-brazil"]
	path = OCA/l10n-brazil
	url = git@github.com:OCA/l10n-brazil.git
	branch = 12.0

[submodule "Trust-Code/odoo-brasil"]
	path = Trust-Code/odoo-brasil
	url = git@github.com:Trust-Code/odoo-brasil.git
	branch = 13.0
